@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@200&display=swap');
.logo{
    width: 268px;
    height: 33px; 
     
}
*{
    margin-top: 0;
}
header{
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color: white;

    
}
.menu{
list-style: none;
display: flex;
cursor: pointer;
}
.menu-item{
    margin-right: 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
     color:rgb(171, 171, 171);
}
.drop-menu{
    display: none;
    list-style: none;
    position: absolute;
margin-left: -40px; 
color:rgb(171, 171, 171);
background-color: white;
}
.menu-item:hover {
    color:#00B39B ;
}
.menu-item:hover .drop-menu{
    display: flex;
    flex-direction: column;
}
.drop-menu-item:hover{
    color: #00B39B;  
}
.title{
    text-align: center;
    padding-top: 100px;
}
.title img{
    height: 39px;
    width: 40px;

}
.title p{
    font-family:"work Sans",arial,sans-serif;
font-size: 34px;
font-weight: 300;
line-height: 44.2px;
color: #00B39B;


}
.intro{
    display: flex;
    justify-content: space-around;
    padding: 0px 200px;
}
.intro p{
    width: 50% ;
    font: 400 16px "roboto",arial,sans-serif ;
    line-height:28px ;
    color: rgb(116, 116, 116);
}
.bloca{
    height: 345px;
    width: 223.438px;
    padding: 22px 20px 0 20px;
    background-color: #00B39B;
    border-radius: 15px;
}
.bloca img{
    height: 24px;
    width: 24px;

} 
.bloca h1{
    font-family: "work sans",arial,sans-serif;
    font-size: 20px;
     line-height: 26px;
    letter-spacing: -0.3px;
    color: white;
    height: 26px;
    width: 183.438px;
    margin: 6px 0 6px 0;
}
.bloca h2{                              
    height: 144px;
    width: 183.438px;
    color: white;
    font-family:  "work sans",arial,sans-serif;
    font-size: 24px;
    font-weight: 300;
}
.choose{
   font-family: "roboto",arial,sans-serif;
   font-size: 19.2px;
   text-decoration: underline solid rgb(225, 225, 225);

} 
.blocb{
    height: 345px;
    width: 223.438px;
    padding: 22px 20px 0 20px;
    background-color:#3D83DF;
    border-radius: 15px;
}
.blocb h1{
    font-family: "work sans",arial,sans-serif;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.3px;
    color: white;
    height: 26px;
    width: 183.438px;
    margin: 6px 0 6px 0;
}
.blocb h2{
    height: 144px;
    width: 183.438px;
    color: white;
    font-family:  "work sans",arial,sans-serif;
    font-size: 24px;
    font-weight:300;
}
.blocc{
    height: 345px;
    width: 223.438px;
    padding: 22px 20px 0 20px;
    background-color:#323D49;
    border-radius: 15px;
}
.blocc h1{
    font-family: "work sans",arial,sans-serif;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.3px;
    color: white;
    height: 26px;
    width: 183.438px;
    margin: 6px 0 6px 0;
}
.blocc h2{
    height: 144px;
    width: 183.438px;
    color: white;
    font-family:  "work sans",arial,sans-serif;
    font-size: 24px;
    font-weight: 300;
}
.bloc{
    display: flex;
    justify-content: space-around;
    
}
.text{
    font-family: "work sans",arial,sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 33.8px;
    text-decoration: none solid;
    height: 101.4px;
    width: 234.425px;
    margin: 7px 0 9px 0;
    padding: 0 26px 0 0S ;
    color: #00B39B;
}
.text img{
    height: 166.4px;
    width: 481.862px;
}
.blocd{
    display: flex;
    justify-content: space-around;
    margin: 40px;
}
.backround{
    background-image: url("https://cdn.discordapp.com/attachments/851355618643017740/904440936740839454/Sans_titre-2.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
    height: 600px;
    width: 100%;
    display: flex;
}
.bloctext{
    display: column ;
}
.backround h1{
    font-family: "work sans",arial,sans-serif;
    font-size: 20px;
    line-height: 44.2px;
    letter-spacing: -0.3px;
    font-weight: 300;
    text-align: center;
    height: 88.4px;
    width: 477.5px;
    display: block;
    color: #00B39B;
}
.backround p{
    font-family: "roboto";
font-size: 10px;
line-height: 24px;
text-align: center;
color: #747474;
height: 48px;
width: 100%;
margin: 22px 90px 22px 90px;
max-width: 415px;
} 
.bloccareau{
    height: 560px;
    width: 50%;
    display: flex;
    
}
.careaua{
    height: 250px;
    width: 287.5px;
    text-align: center;
    font-size: 10px;
    display: flex  ;
    flex-direction: column;
 
} 
.careaub{
    height: 250px;  
    width: 287.5px;
    text-align: center;
    font-size: 10px;
    display: flex  ;
    flex-direction: column;
    margin-top: -10px;
    
} 

.careau {
    background-color: white;
    margin:  20px;
    padding: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bloctext{ width: 50%;}
.title2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title2 h1{
    font-family: "work sans",arial,sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #00B39B;
    height: 78px;
    width: 420px;
    margin-top: 60px;
}
.title2 p{
    font-family: "roboto",arial,sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #747474;
    height: 96px;
    width: 420px;
    margin-top: 22px;
}
.pays{
    display: flex;
    justify-content: center;
    padding: 50px;
    margin: 10px;
}
.see{
    font-family: "roboto";
    font-size: 10px;
    background-color: #3D83DF;
    color: white;
    height: 30px;
    width: 103px;
    margin-left: 210px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.pays1{
    margin: 10px;;
}
.pays2{
    margin: 10px;
}
.pays3{margin:10px;}

.pays p{
    font-family: "roboto",arial,sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #747474;

}
.qsdf{display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#azerty{
    font-family: "work-sans",Arial, sans-serif;
    font-size: 30px;
    color: black;
    height: 39px;
    width: 520px;
    margin: 0 0 23px 0 ;

}
.all{
    font-family: "roboto";
    font-size: 12px;
    background-color: #3D83DF;
    color: white;
    height: 40px;
    width: 210px;
    border-radius: 10px;

}
.qsdf p{
    font-family: roboto,arial,sans-serif;
    font-size: 12px;
    line-height: 15px;
    height: 90px;
    width: 1000px;
    padding: 10px 20px 0 20px;
    max-width: 1015px;
}
hr {
    color: black;
}